@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

@font-face {
    font-family: text;
    src: url(../../font/Caveat-VariableFont_wght.ttf);
}

.clip {
    clip-path: circle(12.0% at 50% 100%);
    transition: 0.4s;
}

.parent {
    transform: perspective(900px) rotateY(-20deg);
}

.parent:hover>.clip {
    animation: 1s clipPath linear forwards alternate;
}

@keyframes clipPath {
    0% {
        clip-path: circle(12.0% at 50% 100%);
    }

    25% {
        clip-path: circle(12.0% at 50% 50%);
    }

    50% {
        clip-path: circle(10.0% at 50% 50%);
    }

    100% {
        clip-path: circle(100.0% at 50% 50%);
    }

}

html {
    scroll-behavior: smooth;
}

.anim {
    animation: animate 2s ease-in-out alternate infinite;
    &:hover{
        animation: shake .4s linear alternate infinite;
    }
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-25%);
    }

    50% {
        transform: translateY(0);
    }
}
.animateTxt{
    animation: animateTxt 5s linear infinite alternate forwards;

}
@keyframes animateTxt {
    0% {
        stroke-dasharray: 0 400px;
    }

    50% {
        stroke-dasharray: 400px 0;
    }

    100% {
        stroke-dasharray: 400px 0;
        stroke-dashoffset: 50px;
    }
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }